
body{
	font-family: 'Open Sans';
}

h1, h2, h3{
  font-weight: 400;
}

[contenteditable]{
	outline:none;
}

.button{
  background:#2ecc71;
  color:#fff;
  box-shadow:0px 3px 0px #27ae60;
  border-radius:5px;
  display:inline-block;
  font:inherit;
  padding:.5em 1em;
  text-decoration: none;
  position: relative;
}

.button.attn{
    background:#999;
    color:#fff;
    box-shadow:0px 3px 0px #666;
}

.button:active{
  -webkit-transform:translateY(2px);
  box-shadow:0px 1px 0px #27ae60;
}



.button.attn:hover{
    background:#e74c3c;
    box-shadow:0px 3px 0px #c0392b;
}

.button.subtle:active{
  box-shadow:0px 1px 0px #666;
}

.hallotoolbar{
  background:#fff;
}