body{
	font-family: 'Helvetica Neue';
}

[contenteditable]{
	outline:none;
}

.button{
  background:#2ecc71;
  color:#fff;
  box-shadow:0px 3px 0px #27ae60;
  border-radius:5px;
  display:inline-block;
  font:inherit;
  padding:.5em 1em;
  text-decoration: none;
}

.button.subtle{
	background:#999;
  	color:#fff;
  	box-shadow:0px 3px 0px #666;
}